[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

psycopg2-binary = "*"
py-dateutil = "*"
pytz = "*"
requests = ">=2.31.0"

[requires]

python_version = "3.14"
