- name: writeme
  hosts: "{{ deployment_group }}"

  tasks:

    - name: Copy Debian package
      copy:
        src: "{{ package_path }}"
        dest: /tmp/writeme-service.deb

    - name: Create service directory
      file:
        path: /usr/share/writeme-service
        state: directory
      become: yes

    - name: Create environment file
      template:
        src: templates/env
        dest: /usr/share/writeme-service/.env
      become: yes

    - name: Install the service
      apt:
        deb: /tmp/writeme-service.deb
      become: yes

    - name: Configure site
      template:
        src: templates/site
        dest: /etc/nginx/sites-available/{{ service_address }}
        owner: root
        group: root
      become: yes

    - name: Enable site
      file:
        src: /etc/nginx/sites-available/{{ service_address }}
        dest: /etc/nginx/sites-enabled/{{ service_address }}
        state: link
      become: yes

    - name: Reload Nginx
      service:
        name: nginx
        state: reloaded
      become: yes
